@import "tailwindcss";

/* In Tailwind v4, we define custom animations inside a @theme block 
   instead of a javascript config file.
*/
@theme {
  --animate-scroll: scroll 40s linear infinite;

  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
}

/* Custom Utilities */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}